
@{
    ViewBag.Title = "Liên hệ";
   
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="content" style="padding-top:5px">
    <div class="row">
        <div class="col-md-12" style="background-color:lightgray">
            <div class="col-md-6">
                <div class="contact-panel panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title" style="text-align:center">Thông tin liên hệ</h1>
                    </div>
                    <div class="panel-body" style="padding-bottom:400px">
                  
                        <br />
                        <h4><b>Địa chỉ:</b> 74-76 Lê Lợi, phường 2, Tp. Trà Vinh, Trà Vinh, Việt Nam</h4>

                        <h4><b>Tổng đài: </b>1900-1533</h4>

                        <h4> <b>Hộp thư góp ý:</b> jbvnfeedback@jollibee.com.vn</h4>
                    </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="contact-panel panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title" style="text-align:center"> Bản đồ</h2>
                    </div>
                    <div class="panel-body">
                     
                        <div class="map" id="mapCanvas">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.4944728799367!2d106.34146010410323!3d9.935797312489626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a017540faff63b%3A0x5e00be01fad5f5fb!2sJollibee%202!5e0!3m2!1svi!2s!4v1649653293282!5m2!1svi!2s"
                                    width="750px" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div> 

</div>